<section class="section">
  <div class="container">
    <h1 class="heading mb-4">Edit Department</h1>

    <%=render "form", department: @department%>
    
    <%=link_to "Back", departments_path, class: "button button--subtle"%>
  </div>
</section>